.home-container {
    width: 100%;
    height: auto;
    
}

h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 60px;
    
}
.hero {
    display: flex;
    justify-content: space-around;
}

.hero img {
    height: 300px;
    width: 20%;
    border-radius: 50%;

}

.flex p {
    font-weight: 600;
    font-size:15px;
    margin-bottom: 10px;
    
}

.button {
    padding: 15px;
    border-radius: 10px;
    background-color: aliceblue;
}

